<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="/assets/javascripts/plugin/bootstrap.min.js"></script>
<script src="/assets/javascripts/plugin/slick.js"></script>
<script src="/assets/javascripts/plugin/circle-progress.js"></script>
<script src="/assets/javascripts/plugin/gmaps.min.js"></script>
<script src="/assets/javascripts/custom.js"></script>

<div style="position: fixed; right: 0px; bottom: 8px">
  <script language="JavaScript" type="text/javascript">
  TrustLogo("https://oshop.id/assets/images/comodo_secure_seal_113x59_transp.png", "SC5", "none");
  </script>
  <a href="https://ssl.comodo.com/ev-ssl-certificates.php" id="comodoTL">EV SSL</a>
</div>
