<!DOCTYPE html>
<html lang="en">
<% include ../layouts/HeadLayout %>
<body>
  <% include ../layouts/HeaderLayout %>

  <section id="FunctionalIncentivesView" class="about-us">
    <div class="container">

      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <% include ./MenuView %>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="about-us-content">
            <h1 class="member-title">Functional Incentives</h1>

            <div class="paper">

              <table class="table" class="table-bordered">
                <thead>
                  <th>Nama</th>
                  <th>Kredit</th>
                  <th>Debit</th>
                  <th>Saldo</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Dana Unilevel</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Dana Perjalanan Religi</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Dana Kepemilikan Kendaraan</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Dana Kepemilikan Rumah</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

  <% include ../layouts/FooterLayout %>
  <% include ../layouts/FootLayout %>
</body>
</html>
