<!DOCTYPE html>
<html lang="en">
<% include ../layouts/HeadLayout %>
<body>
  <% include ../layouts/HeaderLayout %>

  <!-- Content here -->

  <section class="about-us">
    <div class="container">

      <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
          <% include ./MenuView %>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="about-us-content">
            <h1 class="member-title">Member Pending</h1>

            <div class="paper">
              <table class="table" class="table-bordered">
                <thead>
                  <th>Username</th>
                  <th>Nama Lengkap</th>
                  <th>Email</th>
                  <th style="text-align: right">Aksi</th>
                </thead>
                <tbody>

                  <% rsMember.forEach(row => { %>
                    <tr>
                      <td><%= row.memberId %></td>
                      <td><%= row.fullName %></td>
                      <td><%= row.email %></td>
                      <td style="text-align: right">
                        <a href="/member/review?id=<%= row._id %>">Lihat</a>
                      </td>
                    </tr>
                  <% }); %>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

  <% include ../layouts/FooterLayout %>
  <% include ../layouts/FootLayout %>
</body>
</html>
