<!DOCTYPE html>
<html lang="en">
<% include ../layouts/HeadLayout %>
<body>
  <% include ../layouts/HeaderLayout %>

  <div class="wrap-banner">
    <div class="banner-faq">
      <div class="overlay"></div>
      <img src="/assets/images/banner-4.jpg" class="img-fluid" />
      <div class="banner-caption faq">
        <h1>Frequently Ask and Questions</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
    </div>
  </div>

  <section class="faq">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="content-faq faq-one">
            <h4>Signing Up and Signing In</h4>
            <strong>
              I signed up but I didn’t receive the confirmation email.
            </strong>
            <p>
              If you don’t see the confirmation email, make sure to check your Spam folder and, if you’re using Gmail, please check the Social and Promotions folders.
            </p>
            <strong>
              I can’t remember my password for signing in. How do I reset it?
            </strong>
            <p>
              If you can’t remember your password, you can use the ‘Forgot?’ link next to ‘Password’ on the Sign In page to reset it. Be sure to enter the same email address as the one you have registered with Dribbble.
            </p>
          </div>
          <div class="content-faq faq-two">
            <h4>Shopping</h4>
            <strong>
              I signed up but I didn’t receive the confirmation email.
            </strong>
            <p>
              If you don’t see the confirmation email, make sure to check your Spam folder and, if you’re using Gmail, please check the Social and Promotions folders.
            </p>
            <strong>
              I can’t remember my password for signing in. How do I reset it?
            </strong>
            <p>
              If you can’t remember your password, you can use the ‘Forgot?’ link next to ‘Password’ on the Sign In page to reset it. Be sure to enter the same email address as the one you have registered with Dribbble.
            </p>
            <strong>
              I can’t remember my password for signing in. How do I reset it?
            </strong>
            <p>
              If you can’t remember your password, you can use the ‘Forgot?’ link next to ‘Password’ on the Sign In page to reset it. Be sure to enter the same email address as the one you have registered with Dribbble.
            </p>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="call-now">
            <h4>Hubungi kami</h4>
            <div id="map"></div>
            <div class="address-phone">
              Jalan Slamet Riyadi 100, Solo <br>
              <strong>P.</strong> +62 (271) 679 2754 <strong>E.</strong> <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">info@cozmeed.id</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% include ../layouts/FooterLayout %>
  <% include ../layouts/FootLayout %>
</body>
</html>
