<!DOCTYPE html>
<html lang="en">
<% include ../layouts/HeadLayout %>
<body>
  <% include ../layouts/HeaderLayout %>

  <nav id="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/"><i class="fa fa-home"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="/news">News</a>
        </li>
        <li class="breadcrumb-item active">
          <%= rowNews.title %>
        </li>
      </ol>
    </div>
  </nav>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="about-us-content">
            <b style="font-size: 24px"><%= rowNews.title %></b><hr>

            <% if (rowNews.featuredImage) { %>
              <img src="<%= rowNews.featuredImage_ %>"
              align="left"
              style="max-width: 30%; margin-right: 16px; margin-bottom: 16px;">
            <% } %>

            <%- rowNews.content %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% include ../layouts/FooterLayout %>
  <% include ../layouts/FootLayout %>
</body>
</html>
