<!DOCTYPE html>
<html lang="en">
<% include ../layouts/HeadLayout %>
<body>
  <% include ../layouts/HeaderLayout %>

  <section id="ResetPasswordView" class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="about-us-content">

            <h1 class="member-title">Reset Password</h1>

            <div v-if="result.state != 'success'">
              <div class="paper" v-cloak>

                <div class="row">
                  <div class="col-md-12">
                    <ui-textbox v-model="form.newPassword"
                    type="password"
                    placeholder="Masukan Password Baru">Password Baru</ui-textbox>
                    <sup class="error-line">
                      {{ result.data.errors.newPassword?result.data.errors.newPassword.message:'' }}
                    </sup>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <ui-textbox v-model="form.retypePassword"
                    type="password"
                    placeholder="Ulangi Password Baru">Ulangi Password</ui-textbox>
                    <sup class="error-line">
                      {{ result.data.errors.retypePassword?result.data.errors.retypePassword.message:'' }}
                    </sup>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <br>
                    <ui-button :loading="loading" type="button" @click="submit">Submit</ui-button>
                  </div>
                </div>

              </div>
            </div>
            <div v-else>

              <div class="row">
                <div class="col-md-12">
                  <p style="text-align: center">
                    Selamat, Password Anda telah berhasil di-reset. Silakan mencoba untuk Login.
                  </p>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    /******************
    <id="Vue">
    ******************/
    var ResetPasswordView = new Vue({
      el: '#ResetPasswordView',

      /******************
      <id="_data">
      ******************/
      data: {
        loading: false,
        splash: false,

        result: {
          state: '',
          message: '',
          data: { errors: {} },
        },

        form: {
          token: '<%= token %>',
          newPassword: '',
          retypePassword: '',
        },
      },

      /******************
      <id="_methods">
      ******************/
      methods: {

        /******************
        <id="_submit">
        ******************/
        submit: function () {
          this.loading = true;

          var url = '/api/account/reset-password';
          var data = this.form;

          axios.post(url, data).then(function (response) {
            var result = response.data;

            if (result.state == 'success') {
              this.form.username = '';
            }

            this.result = result;
            this.loading = false;
          }.bind(this));
        },

      },

    });
  </script>

  <% include ../layouts/FooterLayout %>
  <% include ../layouts/FootLayout %>
</body>
</html>
